@{

    ViewData["Title"] = "Foo Test";
}
<div class="row">
	<div class="col-md-6 margin-top-20"> 
	<a href="#" class="btn btn-primary btn-large btn-block"><span class="glyphicon glyphicon-circle-arrow-down">Withdraw</a>
	<a href="#" class="btn btn-primary btn-large btn-block"><span class="glyphicon glyphicon-flash">Quick Cash</a>
    <a href="#" class="btn btn-primary btn-large btn-block"><span class="glyphicon glyphicon-question-sign">Balance</a>

	</div>
     <div class="col-md-6 margin-top-20"> <a href="#" class="btn btn-primary btn-large btn-block"><span class="glyphicon glyphicon-circle-arrow-down">Withdraw</a>
	<a href="#" class="btn btn-primary btn-large btn-block"><span class="glyphicon glyphicon-flash">Quick Cash</a>
    <a href="#" class="btn btn-primary btn-large btn-block"><span class="glyphicon glyphicon-question-sign">Balance</a>

	</div>
</div>